{% extends 'main.html'%}
{% load static %}
{% load crispy_forms_filters %}
{% load widget_tweaks %}
{% block content %}


<head>
    <!-- Add this in the <head> section -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
      
        /* Center the modal vertically and horizontally */
        .modal-centered {
            display: flex;
            align-items: center;
            justify-content: center;
        }
  
    </style>
</head>
<section class="register-page section-b-space">
        <div class="container">
            {% if messages %}
            <div id="popup"class="alert alert-{{ messages.tags }}" role="alert" style="background-color: #df6615; color: rgb(255, 255, 255); text-align: center; padding: 10px;">
            {% for message in messages %}
            <p style="color: aliceblue;">  {{ message }}</p>
            {% endfor  %}
            {%endif%}
            <div class="row">
                <div class="col-lg-12">
                    <h3>create account</h3>
                    <div class="theme-card">
                        <form class="theme-form" method="POST" action="{% url 'register' %}">
                            {% csrf_token %}
{#                            {{ form.as_p }}#}
                        <div class="form-row row">
                            {% for field in form %}
                            <div class="col-md-6 mb-3">
                                    <label for="email">{{ field.label}}</label><br> 
                                    {{ field }}
{#                                    {% if field.help_text %}#}
{#                                        <small>{{ field.help_text }}</small>#}
{#                                    {% endif %}#}
                                    {% for errors in field.errors %}
                                        <p>{{ errors }}</p>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            {% comment %} <div class="form-group">
                                <label for="type">Type</label>
                                {% render_field form2.type name="type" class="form-control" type="dropdown" id="type" %}
                            </div> {% endcomment %}
                        </div>
{#                            <div class="form-row row">#}
{#                                <div class="col-md-6">#}
{#                                    <label for="email">First Name</label>#}
{#                                    <input type="text" class="form-control" id="fname" placeholder="First Name" required="">#}
{#                                </div>#}
{#                                <div class="col-md-6">#}
{#                                    <label for="review">Last Name</label>#}
{#                                    <input type="password" class="form-control" id="lname" placeholder="Last Name" required="">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="form-row row">#}
{#                                <div class="col-md-6">#}
{#                                    <label for="email">Email</label>#}
{#                                    <input type="email" class="form-control" id="fname" placeholder="First Name" required="">#}
{#                                </div>#}
{#                                <div class="col-md-6">#}
{#                                    <label for="review">Username</label>#}
{#                                    <input type="text" class="form-control" id="lname" placeholder="Last Name" required="">#}
{#                                </div>#}
{#                            </div>#}
                            <div class="form-row row">  
{#                                <div class="col-md-6">#}
{#                                    <label for="email">Password</label>#}
{#                                    <input type="password" class="form-control" id="email" placeholder="Email" required="">#}
{#                                </div>#}
{#                                <div class="col-md-6">#}
{#                                    <label for="review">Confirm Password</label>#}
{#                                    <input type="password" class="form-control" id="review" placeholder="Enter your password" required="">#}
{#                                </div>#}
                            <input id="sub" href="{%url 'verify'%}" type="submit" value="Signup" class="btn btn-solid w-auto"/>  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>    
    
{% endblock %}