{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    .input-group-append {
        height: 54px !important;
    }
</style>
<!--section start-->
    <section class="pwd-page section-b-space">
        <div class="container">
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
                <p class="lead text-success text-bold">Password has been set successfully. <a href="{% url 'user-login' %}">Click here to login.</a></p>
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                <p class="lead text-danger text-bold">{{ message }}</p>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <h2>Reset Password</h2>
                    <form class="theme-form" method="post" action="{% url 'reset_password' %}">
                        {% csrf_token %}
                        <div class="form-row row">
                            <div class="col-md-12">
                                <label for="password">Enter the new password:</label>
                                <input type="password" name="password" class="form-control" id="password" data-toggle="password" placeholder="Password"
                                    required="">
                                <label for="cnfrm_password">Retype new password:</label>
                                <input type="password" name="cnfrm_password" class="form-control" id="cnfrm_password" data-toggle="password" placeholder="Confirm Password"
                                    required="">
                            </div>
                            <div class="d-flex">
                                <button type="submit" class="btn btn-solid w-auto justify-content-start" style="margin-left: 0">Confirm</button>
                                <a class="justify-content-end" data-toggle="modal" data-target="#exampleModalLong" style="margin-top: 15px; color: #0a53be">
                                  Tips for creating strong password
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Tips for creating strong password:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
            <li>1. Password should be at least 8 characters long.</li>
            <li>2. Password should contain at least 1 uppercase letter.</li>
            <li>3. Password should contain at least 1 digit.</li>
            <li>4. Password should contain at least 1 special character.(@,#,$...etc.)</li>
            <li>5. Password should contain atlest 1 lowercase letter</li>
            <li></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
{% endblock %}