{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container ">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <h3 class="text-center">Business Activity</h3>
        {{ form|crispy }}
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
            <div class="m-5"><input type="submit" class="btn btn-primary btn-success p-2" value="SUBMIT" /></div>

</form>
    </div>
{% endblock %}