{% extends 'base.html' %}
{% block content %}

{% comment %} <!--section start-->
<section class="pwd-page section-b-space">
    <div class="container">
        {% if messages %}
        <div class="alert alert-{{ messages.tags }}" role="alert">
        {% for message in messages %}
            <p class="lead text-danger text-bold">{{ message }}</p>
        {% endfor %}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-6 m-auto">
                <h2>Enter your Mobile Number</h2>
                <form class="theme-form" method="post" action="{% url 'forgot_pwd' %}">
                    {% csrf_token %}
                    <div class="form-row row">
                        <div class="col-md-12">
                            <input type="text" name="username" class="form-control" id="email" placeholder="Username / Mobile Number"
                                required="">
                        </div><button type="submit" class="btn btn-primary w-auto">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> {% endcomment %}

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
        min-vh-100">
      <div class="col-12 col-md-8 col-lg-4">
        {% if messages %}
            <div class="alert alert-{{ messages.tags }}" role="alert">
            {% for message in messages %}
                <p class="lead text-danger text-bold">{{ message }}</p>
            {% endfor %}
            </div>
            {% endif %}
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="mb-4">
              <h5>Enter the OTP received to your Mobile Number</h5>
              {% comment %} <p class="mb-2">Enter your username to reset the password
              </p> {% endcomment %}
            </div>
            <form method="post" action="{% url 'mp_cnfrm_otp' %}">
                {% csrf_token %}
              <div class="mb-3">
                <label for="email" class="form-label">OTP:</label>
                <input type="text" id="email" class="form-control" name="otp" placeholder="Enter Your Username"
                  required="">
              </div>
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-primary">
                  Verify
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}