{% extends 'base.html' %}
{% block content %}

{% comment %} <!--section start-->
<section class="pwd-page section-b-space">
    <div class="container">
        {% if messages %}
        <div class="alert alert-{{ messages.tags }}" role="alert">
        {% for message in messages %}
            <p class="lead text-danger text-bold">{{ message }}</p>
        {% endfor %}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-6 m-auto">
                <h2>Enter your Mobile Number</h2>
                <form class="theme-form" method="post" action="{% url 'forgot_pwd' %}">
                    {% csrf_token %}
                    <div class="form-row row">
                        <div class="col-md-12">
                            <input type="text" name="username" class="form-control" id="email" placeholder="Username / Mobile Number"
                                required="">
                        </div><button type="submit" class="btn btn-primary w-auto">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> {% endcomment %}

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
        min-vh-100">
      <div class="col-12 col-md-8 col-lg-4">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success" role="alert">
            <p class="lead text-success text-bold">Password has been set successfully. <a href="{% url 'login' %}">Click here to login.</a></p>
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            <p class="lead text-danger text-bold">{{ message }}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="mb-4">
              <h5>Enter your New Password:</h5>
              {% comment %} <p class="mb-2">Enter your username to reset the password
              </p> {% endcomment %}
            </div>
            <form method="post" action="{% url 'mp_reset_password' %}">
                {% csrf_token %}
              <div class="mb-3">
                <label for="passsword" class="form-label">New Password:</label>
                <input type="password" id="passsword" class="form-control" name="password" data-toggle="password" placeholder="Enter Your password"
                  required="">
              </div>
              <div class="mb-3">
                <label for="cnfrm_password" class="form-label">New Password:</label>
                <input type="password" id="cnfrm_password" class="form-control" name="cnfrm_password" data-toggle="password" placeholder="Confirm Password"
                  required="">
              </div>
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
              </div>
              <div class="d-flex">

                <a class="justify-content-end" data-bs-toggle="modal" data-bs-target="#exampleModalLong" style="margin-top: 15px; color: #0a53be">
                  Tips for creating strong password
                </a>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Tips for creating strong password:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
              <li>1. Password should be at least 8 characters long.</li>
              <li>2. Password should contain at least 1 uppercase letter.</li>
              <li>3. Password should contain at least 1 digit.</li>
              <li>4. Password should contain at least 1 special character.(@,#,$...etc.)</li>
              <li>5. Password should contain atlest 1 lowercase letter</li>
          </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
{% endblock %}